* {
    margin: 0;
    padding: 0;
}

body {
    
    background: linear-gradient(to right, #fac6ff,rgb(229, 247, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1000;
    padding: 25px 0;
    background: linear-gradient(to right, #f6fafd,white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.container {
    max-width: 1400px;
    margin-top: 10px;
    margin-left: 40px;
    padding: 0 20px;
    align-items: center;
    display: flex;
}

.auth-group{
    margin-left: 950px;
}


.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    font-weight: 800;
    color: #008cff;
}


.btn-login {
    text-decoration: none;
    background: #008cff;
    color: white;
    padding: 10px 24px;
    border-radius: 10px;
    margin-left: 45px;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 600;
}

.btn-signup {
    background: #008cff;
    color: white;
    padding: 10px 24px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}


.hero {
    padding: 140px 0 60px 0;
    margin-left: 100px;
 
}

.hero-content{
    margin-top: 80px;
}


.hero-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
}



.hero-content h1 span {
    color: #008cff; 

}

.hero-subtext {
    font-size: 17px;
    color: #777;
    margin-bottom: 40px;
}

#aboutTag{
    color: #008cff;
}


.about-description {
    background: white;
    font-size: 16px;
    color: #777;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #e1efff;
    max-width: 530px;

}

#about-description{
    margin-top: 10px;
}

.container-hero{
    display: flex;
}




.hero-image {
    width: 620px; 
    height: 380px; 
    position: relative;
    margin: 30px 0 0 80px;
    border-radius: 30px;
    box-shadow: 10px 10px 50px rgb(142, 223, 255); 

 
}

.hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    height: 380px;
    object-fit: cover;
    border-radius: 30px; 
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-slide.active {
    opacity: 1;
}

.trending-section {

    padding: 80px 0;
}

.trending-header h2 { 
    font-size: 32px;
    margin-bottom: 8px;
 }

.trending-header p { 
    color: #888; margin-bottom: 40px; 
}

.infinite-slider {
    overflow: hidden;
    width: 100%;
}

.slider-track {
    display: flex;
    width: calc(260px * 10); 
    animation: slideLeft 50s linear infinite;
}


.slider-track:hover {
    animation-play-state:paused;
}

@keyframes slideLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-260px * 5)); }
}

.slide-card {
  
    padding: 12px;
    border-radius: 15px;
    width: 240px;
    margin: 0 10px;
    flex-shrink: 0;
}

.img-box {
    
    aspect-ratio: 1/1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-box img {
    
    width: 90%;
    height: auto;
    object-fit: contain;
}


.footer {
    background-color: #f9fcff; 
    color: #6e6e6e;
    padding: 50px 0 20px 0;
    margin-top: 60px;
    border-top: 1px solid #e1efff; 
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    padding: 0 40px;
}


.footer-col{
    margin-left: 120px;
}


.footer-logo {
    color: #008cff; 
    font-weight: 800;
    margin-bottom: 10px;
}


.icons{
    color: grey;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #e1efff;
    font-size: 12px;
    color: #aaa;
}
