* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif; 

}

body{
    background: linear-gradient(to right, #fac6ff,rgb(229, 247, 255));
}

.signup-card {
    width: 450px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    margin: 20px auto;
}


.signup-header {
    text-align: center;
    margin-bottom: 30px;
}

#logo-head{
    color:  #6c94ff;
}


.logo-icon {
    font-size: 40px;
    color: #2d91ee;
    margin-bottom: 10px;
}

.signup-header h1 {
    font-size: 24px;
    color: #1a2a4d;
    margin-bottom: 5px;
}

.signup-header p {
    font-size: 14px;
    color: #6c757d;
}

#usertype{
    color: #777;
}

.signup-input-group {
    margin-bottom: 18px;
    text-align: left;
    color: #777;
}

.signup-input-group label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #777;
    margin-bottom: 8px;
}

.signup-input-group input, 
.signup-input-group select, 
.signup-input-group textarea {
    width: 100%;
    padding: 12px;
    background-color:#f0f2f5;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    border: none;
}

.signup-input-group textarea {
    height: 80px;
    resize: none;
}


.gender-options {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.gender-options label {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}


.password-container {
    position: relative;
    width: 100%;
}


.password-container input {
    padding-right: 40px ;
}


.toggle-eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
    font-size: 16px;
    transition: 0.2s;
}

.toggle-eye:hover {
    color: #2d91ee;
}

.btn-signup {
    width: 100%;
    padding: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-signup:hover {
    transform: translateY(-2px); 
    background: #4a7dff;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}


.error-text {
    color: #ff4d4d;   
    font-size: 12px;         
    display: block;       
    margin-top: 5px;         
    margin-bottom: 5px;      
    font-weight: 500;
    text-align: left;
    padding-left: 5px;
 
}

